<div class="content">
  {{- $realestates_categories := "realestates/filters/realestates_categories.html" -}}
  {{- if templates.Exists ( printf "partials/%s" $realestates_categories ) }}
    {{ partial $realestates_categories . }}
  {{ end -}}
  {{- $realestates_persons := "realestates/filters/realestates_persons.html" -}}
  {{- if templates.Exists ( printf "partials/%s" $realestates_persons ) }}
    {{ partial $realestates_persons . }}
  {{ end -}}
  {{- $realestates_sellers := "realestates/filters/realestates_sellers.html" -}}
  {{- if templates.Exists ( printf "partials/%s" $realestates_sellers ) }}
    {{ partial $realestates_sellers . }}
  {{ end -}}
</div>