<div class="content">
  {{ $realestates_types := "realestates/filters/realestates_types.html" }}
  {{ if templates.Exists ( printf "partials/%s" $realestates_types ) }}
    {{ partial $realestates_types . }}
  {{ end }}
  {{ $realestates_persons := "realestates/filters/realestates_persons.html" }}
  {{ if templates.Exists ( printf "partials/%s" $realestates_persons ) }}
    {{ partial $realestates_persons . }}
  {{ end }}
  {{ $realestates_sellers := "realestates/filters/realestates_sellers.html" }}
  {{ if templates.Exists ( printf "partials/%s" $realestates_sellers ) }}
    {{ partial $realestates_sellers . }}
  {{ end }}
</div>