{{ with .Params.address }}
  {{ if or .location .coordinates }}
    {{ $location := i18n "realestates.location" }}
    <section class="location" id="{{ $location | urlize }}">
      <h2>{{ $location }}</h2>
      {{ $location := false }}
      {{ with .location }}
        {{ $location = . }}
      {{ end }}
      {{ with .coordinates }}
        {{ $coordinates := slice .lng .lat  }}
        {{ $location = dict "type" "Point" "coordinates" $coordinates | jsonify }}
      {{ end }}
      {{ if $location }}
        {{ partial "commons/map" (dict "location" $location) }}
      {{ end }}
    </section>
  {{ end }}
{{ end }}
