{{- with .Params.address }}
  {{- if or .location .coordinates }}
    {{- $location := i18n "realestates.location" -}}
    <section class="location" id="{{ $location | urlize }}">
      <h2>{{ $location }}</h2>
      {{- $marker := false -}}
      {{- with .location -}}
        {{- $marker = . -}}
      {{- end -}}
      {{- with .coordinates -}}
        {{- $coordinates := slice .lat .lng -}}
        {{- $marker = slice (dict "type" "Point" "coordinates" $coordinates) -}}
      {{- end -}}
      {{- if $marker }}
        {{ partial "commons/map" (dict "location" ($marker | jsonify)) }}
      {{ end -}}
    </section>
  {{ end -}}
{{ end -}}
