{{ with .Params.offer }}
  {{ with .visits }}
    <div class="visits">
      <h2>{{ i18n "realestates.visit" 2 }}</h3>
      <ul>
      {{ range . }}
        <li>
          {{ with .date_from }}
            {{- $date := time . -}}
            <p class="date">{{ $date | time.Format ":date_full" }}</p>
            <p>{{ i18n "from" }} <time datetime="{{ $date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ $date | time.Format ":time_short" }}</time>
          {{ end }}
          {{ with .date_to }}
            {{- $date := time . -}}
            {{ i18n "to"| lower }} <time datetime="{{ $date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ $date | time.Format ":time_short" }}</time>
          {{ end }}
          </p>
        </li>
      {{ end }}
      </ul>
    </div>
  {{ end }}
{{ end }}
