.sale
    > div
        background-color: $gray-100
        border-radius: $card-border-radius
        padding: $card-spacer-y $card-spacer-x
    .date
        font-weight: $font-weight-bold
    .date + p
        font-size: $small-font-size
    .seller
        @include margin-top($spacer)
    p
        margin-bottom: 0
    address
        align-items: flex-start
        font-size: $small-font-size
    .direction
        &:hover
            text-decoration: underline

        @if variable-exists(bootstrap-icons-map)
            &::before
                @include icon("arrow-right")
                margin-right: .5em