.page-realestates
    
    .person
        @include media-breakpoint-up(lg)
            position: static

    @include media-breakpoint-down(md)
        .grid > 
            .sidebar
                @include margin-bottom($global-spacing)
                margin-top: 0
                order: 2